<script language="javascript">
    function toggle(source) {
        checkboxes = document.getElementsByName('purchase[line_item_ids][]');
        for (var i in checkboxes)
            checkboxes[i].checked = source.checked;
    }
</script>

<% has_original_po = false %>
<% @line_items.each do |item| %>
    <% unless item.original_po.blank? %>
        <%  has_original_po = true  %>
    <% end %>
<% end %>

<% if has_original_po %>
    <table class="index">
      <tbody id='line-items'>

      <%= hook :order_details_line_items_headers do %>
          <tr>
            <th style="width: 2px;"><input type="checkbox" onClick='toggle(this)'/></th>
            <th class="qty">Season</th>
            <th class="qty">Team</th>
            <th class="qty">Type</th>
            <th class="qty">Name</th>
            <th class="qty">Number</th>
            <th class="qty">Size</th>
            <th class="qty">Sleeve</th>
            <th class="qty2">Patch</th>

            <th class="qty" style="text-align: left;">Original PO</th>
            <th class="qty" style="text-align: left;">Supplier</th>
            <th class="qty"><%= t('qty') %></th>
          </tr>

          <% sum_quantity = 0 %>
          <% @line_items.each do |item| %>
              <% unless item.original_po.blank? %>
                  <% sum_quantity += item.quantity %>

                  <tr>
                    <%- locals = {:item => item} %>
                    <%= hook :order_details_line_item_row_xxxx, locals do %>
                        <!-- Hook -->

                        <td style="width: 2px;">
                          <%= check_box_tag "purchase[line_item_ids][]", item.id, true,
                                            {:disabled => %w(purchasing purchased received).include?(@purchase.state), :class => 'inventory_unit'} %>
                        </td>

                        <td class="qty">
                          <%= item.season unless item.season.blank? %>
                        </td>
                        <td class="qty">
                          <%= item.team unless item.team.blank? %>
                        </td>
                        <td class="qty">
                          <%= item.product_type unless item.product_type.blank? %>
                        </td>
                        <td class="qty">
                          <%= item.name unless item.name.blank? %>
                        </td>
                        <td class="qty">
                          <%= item.number unless item.number.blank? %>
                        </td>
                        <td class="qty" style="width: 10px;">
                          <%= item.size unless item.size.blank? %>
                        </td>
                         <td class="qty" >
                          <%= item.sleeve unless item.sleeve.blank? %>
                        </td>
                        <td  style="width: auto;" >
                          <%= item.patch unless item.patch.blank? %>
                        </td>

                        <td class="qty" style="width: 50px;font-weight: bold;text-align: left;">
                          <%= item.original_po unless item.original_po.blank? %>

                        </td>
                        <td class="qty" style="width: 200px;font-weight: bold;text-align: left;">

                          <%= Purchase.find_by_number(item.original_po).supplier.name unless item.original_po.blank? %>
                        </td>

                        <td class="qty">
                          <%= text_field_tag "purchase[quantity][#{item.id}]", item.quantity, :style => "text-align: center;", :size => 10 %>
                        </td>

                    <% end %>
                  </tr>
              <% end %>

              </tbody>

          <% end %>
          <%= hook :admin_order_form_total do %>
              <tbody id='order-total'>
              <tr>
                <td colspan="11"><b><%= "Quintity Total" %>:</b></td>
                <td class="qty"><span id="order_total" style="font-weight: bold;"><%= sum_quantity %></span></td>

              </tr>
              </tbody>
          <% end %>

          </table>
      <% end %>
<% end %>



<table class="index">
  <tbody id='line-items'>

  <%= hook :order_details_line_items_headers do %>
      <tr>
        <th style="width: 2px;"><input type="checkbox" onClick='toggle(this)'/></th>


        <th class="qty">Season</th>
        <th class="qty">Team</th>
        <th class="qty">Type</th>
        <th class="qty">Name</th>
        <th class="qty">Number</th>
        <th class="qty">Size</th>
         <th class="qty">Sleeve</th>
        <th class="qty2">Patch</th>

        <th class="qty"><%= t('qty') %></th>

  <% end %>
  </tr>

  <% sum_quantity = 0 %>
  <% @line_items.each do |item| %>
      <% if item.original_po.blank? %>
          <% sum_quantity += item.quantity %>

          <tr>
            <%- locals = {:item => item} %>
            <%= hook :order_details_line_item_row_xxxx, locals do %>
                <!-- Hook -->

                <td style="width: 2px;">
                  <%= check_box_tag "purchase[line_item_ids][]", item.id, true,
                                    {:disabled => %w(purchasing purchased received).include?(@purchase.state), :class => 'inventory_unit'} %>
                </td>

                <td class="qty">
                  <%= item.season unless item.season.blank? %>
                </td>
                <td class="qty">
                  <%= item.team unless item.team.blank? %>
                </td>
                <td class="qty">
                  <%= item.product_type unless item.product_type.blank? %>
                </td>
                <td class="qty">
                  <%= item.name unless item.name.blank? %>
                </td>
                <td class="qty">
                  <%= item.number unless item.number.blank? %>
                </td>
                <td class="qty" style="width: 10px;">
                  <%= item.size unless item.size.blank? %>
                </td>
                 <td class="qty" >
                  <%= item.sleeve unless item.sleeve.blank? %>
                </td>
                <td  style="width: auto;">
                  <%= item.patch unless item.patch.blank? %>
                </td>


                <td class="qty">

                  <%= text_field_tag "purchase[quantity][#{item.id}]", item.quantity, :style => "text-align: center;", :size => 10 %>
                </td>

            <% end %>
          </tr>
      <% end %>
      </tbody>

  <% end %>
  <%= hook :admin_order_form_total do %>
      <tbody id='order-total'>
      <tr>
        <td colspan="9"><b><%= "Quintity Total" %>:</b></td>

        <td class="qty"><span id="order_total" style="font-weight: bold;"><%= sum_quantity %></span></td>

      </tr>
      </tbody>
  <% end %>

  </table>
