<% if params[:current_store_id] == 1 %>


    <div class="grid_16" style="margin-left: 0px;margin-right:0px;width: 960px;">
        <div id="body_content">
            <div class="top-box-960"></div>
                <div class="title-960">
                    <h1>
                        <%= render "shared/error_messages", :target => @user %>
                        <h2><%= t("registration")%></h2>
                    </h1>
                </div>
            <div class="content-960">
                <div id="registration">
                    <div id="account">
                        <!-- TODO: add partial with registration form -->
                    </div>
                  <% if Spree::Config[:allow_guest_checkout] %>
                    <div id="guest_checkout">
                      <%= render "shared/error_messages", :target => @order %>
                      <h2><%= t(:guest_user_account) %></h2>
                      <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f| %>
                        <p>
                          <%= f.label :email, t("email") %><br />
                          <%= f.text_field :email, :class => 'title-input'  %>
                        </p>
                        <p><%= submit_tag t("continue"), :class => 'button primary' %></p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            </div>
            <div class="footer-960"></div>
        </div>
    </div>


<% else %>

    <%= render "shared/error_messages", :target => @user %>
    <h2><%= t("registration")%></h2>
    <div id="registration">
      <div id="account">
        <!-- TODO: add partial with registration form -->
      </div>
      <% if Spree::Config[:allow_guest_checkout] %>
        <div id="guest_checkout">
          <%= render "shared/error_messages", :target => @order %>
          <h2><%= t(:guest_user_account) %></h2>
          <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f| %>
            <p>
              <%= f.label :email, t("email") %><br />
              <%= f.text_field :email, :class => 'title'  %>
            </p>
            <p><%= submit_tag t("continue"), :class => 'button primary' %></p>
          <% end %>
        </div>
      <% end %>
    </div>

<% end %>