            <div id="best-seller-sidebar">
                <div class="head-sidebar"></div>
                <div class="body-sidebar best-top-seller-list">
                    <h2>Top 10 Best Seller</h2>
                    <span class="sidebar-header-line"></span>
                    <ul>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= image_tag('footballshirt/sidebar/thumbnails-sidebar.png') %>
                                <span class="title">(09-10) Werder Bremen Home...</span>
                                <span class="price">$9</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-sidebar"></div>
            </div>