<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= hook :inside_head do %>
      <%= render :partial => 'shared/footballshirt/head' %>
  <% end %>
</head>
<%
   if @body_class.nil?
       if content_for?(:sidebar)
           @body_class = 'two-col'
       else
           @body_class = 'one-col'
       end
   end
   @body_class = 'yui-skin-sam'
%>
<body class="<%= @body_class %>" id="<%= @body_id %>">


<div class="editor-mask-container">
  <div class="editor-mask"></div>
  <div class="editor-mask-label">Loading</div>
</div>

<!-- Skin CSS file -->

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/editor.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/menu/assets/skins/sam/menu.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/button.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/container/assets/skins/sam/container.css">
<link href="/stylesheets/editor.css?1314602998" media="screen" rel="stylesheet" type="text/css">

<!-- Utility Dependencies -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/element/element-min.js"></script>
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/container/container_core-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/menu/menu-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/button/button-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="http://yui.yahooapis.com/2.8.2r1/build/editor/editor-min.js"></script>

<script src="/javascripts/jquery.ocupload.js?1314602997" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        var Dom = YAHOO.util.Dom,
  	        Event = YAHOO.util.Event;
        var myConfig = { dompath: true };
        var ids = ['product_description', 'page_body', 'comment_comment', 'ticket_comment'];
        $.each(ids, function(index, id) {
            if ($('textarea#' + id).length) {
                var state = 'off';
                var newEditor = window[id + '_editor'] = new YAHOO.widget.Editor(id, {
                    height: '350px',
                    width: 'auto',
                    animate: true,
                    handleSubmit: true,
                    toolbar: {
                        collapse: true,
                        titlebar: false,
                        draggable: false,
                        buttonType: 'advanced',
                        buttons: [
                            { group: 'fontstyle', label: 'Font Name and Size',
                                buttons: [
                                    { type: 'select', label: 'Arial', value: 'fontname', disabled: true,
                                        menu: [
                                            { text: 'Arial', checked: true },
                                            { text: 'Arial Black' },
                                            { text: 'Comic Sans MS' },
                                            { text: 'Courier New' },
                                            { text: 'Lucida Console' },
                                            { text: 'Tahoma' },
                                            { text: 'Times New Roman' },
                                            { text: 'Trebuchet MS' },
                                            { text: 'Verdana' }
                                        ]
                                    },
                                    { type: 'spin', label: '13', value: 'fontsize', range: [ 9, 75 ], disabled: true }
                                ]
                            },
                            { type: 'separator' },
                            { group: 'textstyle', label: 'Font Style ',
                                buttons: [
                                    { type: 'push', label: 'Bold CTRL + SHIFT + B', value: 'bold' },
                                    { type: 'push', label: 'Italic CTRL + SHIFT + I', value: 'italic' },
                                    { type: 'push', label: 'Underline CTRL + SHIFT + U', value: 'underline' },
                                    { type: 'separator' },
                                    { type: 'push', label: 'Subscript', value: 'subscript', disabled: true },
                                    { type: 'push', label: 'Superscript', value: 'superscript', disabled: true },
                                    { type: 'separator' },
                                    { type: 'color', label: 'Font Color', value: 'forecolor', disabled: true },
                                    { type: 'color', label: 'Background Color', value: 'backcolor', disabled: true },
                                    { type: 'separator' },
                                    { type: 'push', label: 'Remove Formatting', value: 'removeformat', disabled: true },
                                    { type: 'push', label: '<span class="translation_missing" title="translation missing: en.editor.show_and_hide_hidden_elements">Show And Hide Hidden Elements</span>', value: 'hiddenelements' }
                                ]
                            },
                            { type: 'separator' },
                            { group: 'alignment', label: 'Alignment',
                                buttons: [
                                    { type: 'push', label: 'Align Left CTRL + SHIFT + [', value: 'justifyleft' },
                                    { type: 'push', label: 'Align Center CTRL + SHIFT + |', value: 'justifycenter' },
                                    { type: 'push', label: 'Align Right CTRL + SHIFT + ]', value: 'justifyright' },
                                    { type: 'push', label: 'Justify', value: 'justifyfull' }
                                ]
                            },
                            { type: 'separator' },
                            { group: 'parastyle', label: 'Paragraph Style',
                                buttons: [
                                    { type: 'select', label: 'Normal', value: 'heading', disabled: true,
                                        menu: [
                                            { text: 'Normal', value: 'none', checked: true },
                                            { text: 'Header 1', value: 'h1' },
                                            { text: 'Header 2', value: 'h2' },
                                            { text: 'Header 3', value: 'h3' },
                                            { text: 'Header 4', value: 'h4' },
                                            { text: 'Header 5', value: 'h5' },
                                            { text: 'Header 6', value: 'h6' }
                                        ]
                                    }
                                ]
                            },
                            { type: 'separator' },
                            { group: 'indentlist', label: 'Indenting/Lists',
                                buttons: [
                                    { type: 'push', label: 'Indent', value: 'indent', disabled: true },
                                    { type: 'push', label: 'Outdent', value: 'outdent', disabled: true },
                                    { type: 'push', label: 'Create an Unordered List', value: 'insertunorderedlist' },
                                    { type: 'push', label: 'Create an Ordered List', value: 'insertorderedlist' }
                                ]
                            },
                            { type: 'separator' },
                            { group: 'insertitem', label: 'Insert Item',
                                buttons: [
                                    { type: 'push', label: 'HTML Link CTRL + SHIFT + L', value: 'createlink', disabled: true },
                                    { type: 'push', label: 'Insert Image', value: 'insertimage' },
                                    { type: 'push', label: 'Edit HTML code', value: 'editcode' }
                                ]
                            },
                            { type: 'separator' },
                            { group: 'uploaditem', label: 'Upload',
                                buttons: [
                                    { type: 'push', label: 'Upload Image', value: 'imageUpload' },
                                    { type: 'push', label: 'Upload File', value: 'fileUpload' }
                                ]
                            }

                        ]
                    }
                });

                newEditor.addListener('editorContentLoaded', function() {
                    $(".yui-toolbar-imageUpload").upload({
                        name: 'content_image[attachment]',
                        action: '/content_images',
                        enctype: 'multipart/form-data',
                        //params: {'content_image[viewable_type]': '', 'content_image[viewable_id]': ''},
                        autoSubmit: true,
                        onSubmit: function() {
                            $(".editor-mask-container").addClass("active");
                        },
                        onComplete: function(image_src) {
                            var img_html = "<img src='" + image_src + "'/>";
                            newEditor.execCommand('inserthtml', img_html);
                            $(".editor-mask-container").removeClass("active");
                        }
                    });

                    $(".yui-toolbar-fileUpload").upload({
                        name: 'content_file[attachment]',
                        action: '/content_files',
                        enctype: 'multipart/form-data',
                        //params: {'content_file[viewable_type]': '', 'content_file[viewable_id]': ''},
                        autoSubmit: true,
                        onSubmit: function() {
                            $(".editor-mask-container").addClass("active");
                        },
                        onComplete: function(file_url_and_name) {
                            var file_url = file_url_and_name.split(",")[0];
                             newEditor.execCommand('inserthtml', link_html);
                        }
                    });
                });


                newEditor.on('toolbarLoaded', function() {
          	        this.toolbar.on('editcodeClick', function() {
          	            var ta = this.get('element'),
          	                iframe = this.get('iframe').get('element');

          	            if (state == 'on') {
          	                state = 'off';
          	                this.toolbar.set('disabled', false);
          	                this.setEditorHTML(ta.value);
          	                if (!this.browser.ie) {
          	                    this._setDesignMode('on');
          	                }

          	                Dom.removeClass(iframe, 'editor-hidden');
          	                Dom.addClass(ta, 'editor-hidden');
          	                this.show();
          	                this._focusWindow();
          	            } else {
          	                state = 'on';
          	                this.cleanHTML();
          	                Dom.addClass(iframe, 'editor-hidden');
          	                Dom.removeClass(ta, 'editor-hidden');
          	                this.toolbar.set('disabled', true);
          	                this.toolbar.getButtonByValue('editcode').set('disabled', false);
          	                this.toolbar.selectButton('editcode');
          	                this.dompath.innerHTML = 'Editing HTML Code';
          	                this.hide();
          	            }
          	            return false;
          	        }, this, true);

          	        this.on('cleanHTML', function(ev) {
          	            this.get('element').value = ev.html;
          	        }, this, true);

          	        this.on('afterRender', function() {
          	            var wrapper = this.get('editor_wrapper');
          	            wrapper.appendChild(this.get('element'));
          	            this.setStyle('width', '100%');
          	            this.setStyle('height', '100%');
          	            this.setStyle('visibility', '');
          	            this.setStyle('top', '');
          	            this.setStyle('left', '');
          	            this.setStyle('position', '');

          	            this.addClass('editor-hidden');
          	        }, this, true);
                }, newEditor, true);
                newEditor.render();
            }
        });
    });
</script>




<div id="top-nav">
  <div class="container_16">
    <div class="grid_16">
      <ul id="menu-top-nav">
        <% if current_user.nil? %>

            <li class="left"><%= link_to "Sign in", login_path %> / <%= link_to "Register", signup_path %></li>
        <% else %>
            <li class="left">Welcome, <%= current_user.email %></li>
            <li class="left"><%= link_to "My Account", account_path %></li>
            <li class="left">|</li>
            <li class="left"><%= link_to "Sign out", destroy_user_session_path %></li>
        <% end %>
        <li class="right">
          <%= render 'shared/footballshirt/search' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- top-nav -->

<div id="head">
  <div class="container_16">
    <div class="grid_16" id="site-banner" style="margin-left: 0px;">
      <div style="height: 202px">
        <a href="/" style="margin: 0px;">
          <%= image_tag('footballshirt/logo.png', :style=>"margin-top: 24px;") %>
        </a>
      </div>
      <div style="height: 40px;">
        <ul id="nav">
          <li class="first"><a href="<%= root_path %>">HOME</a></li>
          <li><a href="/legal-info">TERMS & CONDITIONS</a></li>
          <li><a href="/shipping-and-return">SHIPPING & RETURN</a></li>
          <li><a href="/faq">FAQs</a></li>
          <li><a href="/about-us">ABOUT US</a></li>
          <li class="last"><%= link_to "CONTACT US", tickets_path %></li>
        </ul>
      </div>
      <div class="breadcrumbs">
        <%= breadcrumbs(@taxon) %>
      </div>
    </div>

  </div>
</div>
<!-- head -->

<div id="body">
  <div class="container_16">
    <% if flash.notice %>
        <div class="flash notice"><%= flash.notice %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="flash errors"><%= flash[:error] %></div>
      <% end %>

    <%= yield %>
  </div>
</div>
<!-- body -->

<%= render :partial => 'shared/footballshirt/footer' %>


<%= debug(params) if Rails.env.development? %>
</body>
</html>
