<div class='toolbar order-links'>

      <%= button_link_to "Shipment File", "/admin/shipments/download", :icon => 'pages'  %>

  <%= hook :admin_order_show_buttons do %>
      <%= button_link_to(t('shipment_report'), "/admin/shipments/print.pdf", :method => :get, :target => "_blank", :icon => 'pdf') %>
  <% end %>
</div>

<%= render :partial => 'admin/shared/order_sub_menu' %>

<h1><%= t("listing_shipments") %></h1>


<table class="index" id='listing_orders'>
  <thead>
  <tr>
    <%= hook :admin_orders_index_headers do %>
        <% if @show_only_completed %>
            <th><%= sort_link @search, :completed_at, t("activerecord.attributes.order.completed_at") %></th>
        <% else %>
            <th><%= sort_link @search, :created_at, t("order_date") %></th>
        <% end %>
        <th><%= sort_link @search, :number, t("order_number") %></th>


        <th><%= t("purchase_total") %></th>
        <th><%= sort_link @search, :shipment_state, t("shipment_state") %></th>
        <th><%= sort_link @search, :email, t("customer") %></th>

    <% end %>
    <th>
      <%= hook :admin_orders_index_header_actions %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr style="background: #E3E3E3;">
        <%- locals = {:order => order} %>
        <%= hook :admin_orders_index_rows, locals do %>
            <td style="vertical-align: middle;"><%= (@show_only_completed ? order.completed_at : order.created_at).to_date %></td>
            <td style="vertical-align: middle;">
              <%= link_to order.number, admin_order_path(order) %>
            </td>
            <td style="vertical-align: middle;"><%= "#{order.inventory_units.in_stock.size} in #{order.inventory_units.size}" %></td>
            <td style="vertical-align: middle;"><%= link_to t("shipment_states.#{order.shipment_state}"), admin_order_shipments_path(order) if order.shipment_state %></td>
            <td style="vertical-align: middle;"><%= order.email %></td>

        <% end %>
        <td class='actions' style="vertical-align: middle;">
          <%= hook :admin_orders_index_row_actions, locals do %>

              <%= link_to_edit_url admin_order_shipments_url(order), :title => "admin_edit_#{dom_id(order)}" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="6">

          <table class="index2" id='listing_orders'>

            <% order.inventory_units.each do |inventory_unit| %>
                <tr>
                  <td>
                    <%#= image_tag "admin/icons/playback_play.png" %>

                  </td>
                  <td valign="top" width="120px;" style="text-align:right;"> -</td>
                  <td style="min-width: 300px;">

                    <%= inventory_unit.variant.product.name %>
                    <%#= "(" + variant_options(inventory_unit.variant) + ")" unless inventory_unit.variant.option_values.empty? %>

                    <% item = LineItem.find_all_by_order_id_and_variant_id(inventory_unit.order_id, inventory_unit.variant_id).last %>

                    <%name = "" %>
                    <% item.product_customizations.each do |customization| %>
                        <% next if customization.customized_product_options.all? { |cpo| cpo.value.empty? } %>

                        <% if customization.product_customization_type.name.downcase == 'name' %>

                            <% customization.customized_product_options.each do |option| %>
                                <% next if option.value.empty? %>

                                <% partial = option.customizable_product_option.name %>
                                <% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>
                                <% if lookup.exists?("orders/custom_fields/#{partial}", nil, true) %>
                                    <%= render :partial => "orders/custom_fields/#{partial}", :locals=>{:option => option} %>
                                <% else %>
                                    <% name = option.value %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <%= "+ #{name}" %>


                    <% number = "" %>
                    <% item.product_customizations.each do |customization| %>
                        <% next if customization.customized_product_options.all? { |cpo| cpo.value.empty? } %>

                        <% if customization.product_customization_type.name.downcase == 'number' %>

                            <% customization.customized_product_options.each do |option| %>
                                <% next if option.value.empty? %>

                                <% partial = option.customizable_product_option.name %>
                                <% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>
                                <% if lookup.exists?("orders/custom_fields/#{partial}", nil, true) %>
                                    <%= render :partial => "orders/custom_fields/#{partial}", :locals=>{:option => option} %>
                                <% else %>
                                    <% number = option.value %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                     <%= "+ No.#{number}" %>

                    <% item.ad_hoc_option_values.each do |pov| %>
                        <% if pov.option_value.option_type.name.downcase == 'size' %>
                            <%= pov.option_value.presentation %>
                        <% end %>
                    <% end %>

                    <% item.ad_hoc_option_values.each do |pov| %>
                        <% if pov.option_value.option_type.name.downcase == 'patch' %>
                            <%#= pov.option_value.presentation %>
                            <%= "+ #{pov.option_value.presentation}" unless pov.option_value.presentation.empty? %>
                        <% end %>
                    <% end %>

                  </td>

                  <td>
                    <% if inventory_unit.shipment == @shipment %>
                        <%= t('included_in_this_shipment') %>
                    <% elsif !inventory_unit.shipment_id.nil? %>
                        <%= t('included_in_this_shipment') %>
                        - <%= link_to inventory_unit.shipment.number, edit_admin_order_shipment_url(inventory_unit.order, inventory_unit.shipment) %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </table>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate(@orders, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>


<% content_for :sidebar do %>
    <div class="box">
      <h3><%= t(:search) %></h3>
      <%= form_for [:admin, @search] do |f| %>
          <%- locals = {:f => f} %>
          <%= hook :admin_orders_index_search, locals do %>
              <label><%= t("date_range") %></label><br/>

              <div class="yui-g date-range-filter">
                <div class="yui-u sub-field first">
                  <%= f.spree_date_picker :created_at_greater_than %>
                  <br/>
                  <label class="sub"><%= t("start") %></label>
                </div>
                <div class="yui-u sub-field">
                  <%= f.spree_date_picker :created_at_less_than %>
                  <br/>
                  <label><%= t("stop") %></label>
                </div>
              </div>


              <p><label><%= t 'order_number' %></label><br/>
                <%= f.text_field :number_like, :size=>25 %></p>

              <p>
                <label><%= t 'email' %></label><br/>
                <%= f.text_field :email_like, :size=>25 %>
              </p>


          <% end %>
          <%= hook :admin_orders_index_search_buttons, locals do %>
              <p><%= button t("search") %></p>
          <% end %>
      <% end %>
    </div>
<% end %>
