<% if params[:current_store_id] == 1 %>

    <div class="grid_16" style="margin-left: 0px;margin-right:0px;width: 960px;">
        <div id="body_content">
            <div class="top-box-960"></div>
                <div class="title-960">
                    <%= render "shared/error_messages", :target => @user %>
                    <h1><%= t("editing_user") %></h1>
                </div>
            <div class="content-960">
                <%= form_for(@user, :html => { :method => :put }) do |f| %>
                  <%= render 'shared/footballshirt/user_form', :f => f %>
                  <p>
                    <%=submit_tag t("update"), :class => "button", :style =>"margin-top:0px;" %>
                  </p>
                <% end %>
            </div>
            <div class="footer-960"></div>
        </div>

    </div>

<% else %>
    <%= render "shared/error_messages", :target => @user %>

    <h1><%= t("editing_user") %></h1>

    <%= form_for(@user, :html => { :method => :put }) do |f| %>
      <%= render 'shared/user_form', :f => f %>
      <p>
        <%=submit_tag t("update") %>
      </p>
    <% end %>
<% end %>
