
<h1><%= t(:receive_product) + " #{@receive_product.number}" %></h1>

<%= form_for(@receive_product,  :url => admin_purchase_receive_products_path(@purchase)) do |f| %>

<%= hook :admin_line_itmes_show_details do %>
<p class="admin_line_items_show_details">
<%= render :partial => 'admin/receive_products/form', :locals => {:line_item => @line_item, :purchase => @purchase} %>
</p>
<% end %>

<%= hook :admin_purchase_new_form_buttons do %>
<p class="form-buttons">
 <%= button t('create') %>
</p>
<% end %>



<% end %>
