
    <div class="content-960">
      <h1><%= "#{t("comments")} #{(t('for') + " " + comments_for unless (comments_for rescue nil).nil?)}" %></h1>



      <%= render 'shared/comment_list', :commentable => commentable %>

      <div class="customize" style="margin-top: 30px;">
        <div class="order-add-comment">
          <% form_for(:comment, :url => comments_url, :html => { :multipart => true }) do |f| %>
              <%= hidden_field_tag 'comment[commentable_id]', commentable.id %>
              <%= hidden_field_tag 'comment[commentable_type]', commentable.class %>
              <%= hidden_field_tag 'comment[user_id]', current_user.id %>
              <%= hidden_field_tag 'comment[store_id]', params[:current_store_id] %>

              <p class="admin_line_items_show_details">
                <% if @comment_types.present? %>
                     <%= f.label :comment_type_id, t("type") %> <br/>
                     <%= f.select :comment_type_id, @comment_types.map { |ct| [ct.name, ct.id] }, {}, :class => 'title' %>
                <% end %>
              </p>
              <p class="admin_line_items_show_details">
                <%= f.label :comment, t("comment") %><br>
                <%= f.text_area :comment %>
              </p>
              <p class="admin_line_items_show_details">
                <%= f.label :attachment, "Attachment" %><br>
                <%= f.file_field :attachment %>
              </p>

              <%= hook :admin_purchase_new_form_buttons do %>
                  <p class="form-buttons">
                    <%= button t('add_comment') %>
                  </p>
              <% end %>

          <% end %>
        </div>
      </div>
    </div>

