<table class="index">
  <tr>
    <th style="width:140px;"><%= "#{I18n::t('spree.date')}/#{I18n::t('spree.time')}" %></th>

    <th><%= I18n::t("comment") %></th>
  </tr>
  <% commentable.comments.reverse.each_with_index do |comment, index| %>
    <tr id="<%= dom_id(comment) %>">
      <td><%= comment.created_at.to_formatted_s(:long) %></td>

      <td>
        <div id="order-comment-header-<%= index %>" class="order-comment-header">
          <strong><%= comment.user.email + ' ' + I18n::t('said')%> :</strong>
        </div>
        <div id="order-comment-body-<%= index %>" class="order-comment-body">
          <%= comment.comment.html_safe %>
        </div>
        <div class="order-comment-body" id="order-comment-body-0">
          <% unless comment.attachment_file_name.blank?  %>
              <%= image_tag "http://#{Store.find(@ticket.store_id).domains}/assets/comments/#{comment.id}/#{comment.attachment_file_name}" %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
