<%- locals = {:f => f} -%>
<%= f.hidden_field :user_id %>
<p class="admin_line_items_show_details">
  <%= f.label :title, t("title") %><br/>
  <%= f.text_field :title, :class => 'fullwidth',:style => "width:300px;" %>
</p>
<p class="admin_line_items_show_details">
  <%= f.label :question_categories, t("question_categorie") %> <span class="required">*</span><br/>
  <%= f.collection_select(:question_category_id, QuestionCategory.all, :id, :name) %>
</p>

<p class="admin_line_items_show_details">

  <%= f.label :comment, t("comment") %><br/>
  <%= f.text_area :comment, {:style => 'height:150px;', :class => 'fullwidth', :rows=>10, :style => "width:500px;border: 1px #CCC solid;"} %>
</p>

<p class="admin_line_items_show_details">
  <%= f.label :attachment, "Attachment" %><br/>
  <%= f.file_field :attachment %><br/>
</p>





