<div class="grid_16" style="margin-left: 0px;margin-right:0px;width: 960px;">
  <div id="body_content">
    <div class="top-box-960"></div>
    <div class="title-960">
      <h1>Ticket : <%= @ticket.title %></h1>
    </div>

    <div class="content-960">
      <table class="index">
        <tbody>
        <tr>
          <th style="width:140px;">Date/Time</th>

          <th>Comment</th>
        </tr>
        <tr id="comment_1">
          <td><%= @ticket.created_at.to_formatted_s(:long) %></td>

          <td>
            <div class="order-comment-header" id="order-comment-header-0">
              <strong><%= @ticket.user.email %> said :</strong>
            </div>
            <div class="order-comment-body" id="order-comment-body-0">
              <%= @ticket.comment.html_safe %>
            </div>
            <div class="order-comment-body" id="order-comment-body-0">
              <% unless @ticket.attachment_file_name.blank?  %>
                <%= image_tag "http://#{Store.find(@ticket.store_id).domains}/assets/tickets/#{@ticket.id}/#{@ticket.attachment_file_name}" %>
              <% end %>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
      <%= render "shared/comments", :commentable => @ticket %>


    <div class="footer-960"></div>

  </div>
</div>
