<table class="index">
  <tbody id='line-items'>
  <tr>
    <th class="qty" style="text-align: left;">Season</th>
    <th class="qty" style="text-align: left;">Team</th>
    <th class="qty" style="text-align: left;">Type</th>
    <th class="qty" style="text-align: left;">Name</th>
    <th class="qty" style="text-align: left;">Number</th>
    <th class="qty" style="text-align: left;">Size</th>
    <th class="qty" style="text-align: left;">Sleeve</th>
    <th class="qty" style="text-align: left;">Patch</th>
  </tr>


  <% shipment.inventory_units.each do |item| %>

      <tr>
        <td>
          <%= item.season unless item.season.blank? %>
        </td>
        <td>
          <%= item.team unless item.team.blank? %>
        </td>
        <td>
          <%= item.product_type unless item.product_type.blank? %>
        </td>
        <td>
          <%= item.name unless item.name.blank? %>
        </td>
        <td>
          <%= item.number unless item.number.blank? %>
        </td>
        <td>
          <%= item.size unless item.size.blank? %>
        </td>
         <td>
          <%= item.sleeve unless item.sleeve.blank? %>
        </td>
        <td>
          <%= item.patch unless item.patch.blank? %>
        </td>

      </tr>

  <% end %>

  </tbody>


</table>