<div class='toolbar order-links'>
  <%= button_link_to "Import Tracking", admin_excels_path, :icon => 'excel' %>

  <%= button_link_to "Shipment File", "/admin/shipments/download", :icon => 'pages' %>

  <%= hook :admin_order_show_buttons do %>
      <%= button_link_to("Print Preview", "/admin/shipments/print_preview", :method => :get, :target => "_blank", :icon => 'pdf') %>
  <% end %>
</div>

<%= render :partial => 'admin/shared/order_sub_menu' %>

<h1><%= t("listing_shipments") %></h1>




<% @orders.each do |order| %>

    <%= form_for(order.shipment, :url => new_admin_order_shipment_path(order), :html => {:method => :post}) do |shipment_form| %>
        <table class="index" style="width:100%; ">
          <tr>
            <th style="text-align: center;min-width: 65px;"><%= "Order" %></th>
            <th style="text-align: center;min-width: 65px;"><%= "Purchase" %></th>
            <th style="text-align: center;min-width: 65px;"><%= "Shipment" %></th>
            <th></th>

            <th class="shipment-table">Season</th>
            <th class="shipment-table">Team</th>
            <th class="shipment-table">Type</th>
            <th class="shipment-table">Name</th>
            <th class="shipment-table">Number</th>
            <th class="shipment-table">Size</th>
            <th class="shipment-table">Sleeve</th>
            <th class="shipment-table">Patch</th>


            <th class="shipment-table"><%= t('status') %></th>

            <th style="text-align: right;vertical-align: center; font-size: 12px;">



              <button type="submit" style="font-size: 12px;background: none;height: 20px;">
                <span style="background: none;line-height: 20px;color: #666;text-shadow: 0 0 0;"><img src="/images/admin/icons/add.png?1318254263" alt="Add"> New Shipment</span>
              </button>

            </th>
          </tr>


          <% #order.shipment.order.inventory_units.order("shipment_id ASC").each do |item| %>
          <% order.shipment.order.inventory_units.order("state DESC").each do |item| %>

              <tr>
                <td style="text-align: center; min-width: 65px;"><%= order.number %></td>
                <td style="text-align: center; min-width: 65px;">
                  <% unless item.purchase.nil? %>
                      <%= link_to item.purchase.number, edit_admin_purchase_path(item.purchase) %>
                  <% else %>
                      -
                  <% end %>
                </td>
                <td style="text-align: center; min-width: 65px;">
                  <% unless item.shipment.nil? %>
                      <%= link_to item.shipment.number, edit_admin_order_shipment_url(item.order, item.shipment) %>
                  <% else %>
                      -
                  <% end %>
                </td>

                <td style="text-align:center;">
                  <%= check_box_tag "inventory_units[#{item.id}]", :true, false,
                                    {:disabled => %w(shipped packet returned).include?(item.state),
                                     :class => 'inventory_unit'} %>
                </td>


                <td>
                  <%= item.season unless item.season.blank? %>
                </td>
                <td width="100">
                  <%= item.team unless item.team.blank? %>
                </td>
                <td>
                  <%= item.product_type unless item.product_type.blank? %>
                </td>
                <td>
                  <%= item.name unless item.name.blank? %>
                </td>
                <td>
                  <%= item.number unless item.number.blank? %>
                </td>
                <td>
                  <%= item.size unless item.size.blank? %>
                </td>
                  <td width="200">
                  <%= item.sleeve unless item.sleeve.blank? %>
                </td>
                <td width="200">
                  <%= item.patch unless item.patch.blank? %>
                </td>

                <td>
                    <% if item.state == "canceled" %>
                      <span style="color: #ff0000;"><%= t(item.state) %></span>
                    <% else %>
                      <%= t(item.state) %>
                    <% end %>
                </td>

                <td></td>
              </tr>

          <% end %>


        </table>
    <% end %>
<% end %>


