<title><%= site_title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%== meta_data_tags %>
<%= stylesheet_link_tag 'store3/reset.css', 'store3/global.css', 'store3/style.css','pagination','store3/vertical_menu' %>
<%= csrf_meta_tag %>
<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.validate.min.js', 'rails', 'application',  :cache => 'jquery-core' %>
<%= javascript_include_tag 'store3/scripts', 'store3/jquery.hoverIntent.minified','store3/jquery.dcverticalmegamenu.1.1' %>



<script type="text/javascript">
    $(document).ready(function($){
        $('#mega-1').dcVerticalMegaMenu({
            rowItems: '3',
            speed: 'fast',
            effect: 'slide',
            direction: 'right'
        });
    });
</script>

<% unless I18n.locale.to_s[0..1] == 'en' %>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>


<%= yield :head %>
