<% content_for :sidebar do %>
    <%= hook :homepage_sidebar_navigation do %>
        <% unless @current_store.default? %>
            <% if "products" == @current_controller && @taxon %>
                <%= render "shared/filters" %>
            <% else %>
                <%= render "shared/taxonomies" %>
            <% end %>
        <% else %>
            <%= render "shared/taxonomies" %>
        <% end %>
    <% end %>
<% end %>


<% if params[:keywords] %>

    <%= hook :search_results do %>
        <% if @products.empty? %>
            <% unless @current_store.default? %>
                <div id="content">
                  <%= render "shared/#{@current_store.code}/sidebar_left" %>
                  <%= render "shared/#{@current_store.code}/banner" %>
                </div>
                <div id="content">
                  <%= render "shared/#{@current_store.code}/no_products_search" %>
                </div>
            <% else %>
                <%= t(:no_products_found) %>
            <% end %>
        <% else %>
            <% unless @current_store.default? %>
                <div id="content">
                  <%= render "shared/#{@current_store.code}/sidebar_left" %>
                  <%= render "shared/#{@current_store.code}/banner" %>
                </div>
                <div id="content">
                  <%= render "shared/#{@current_store.code}/products_search", :products => @products, :taxon => @taxon %>
                </div>
            <% else %>
                <%= render "shared/products", :products => @products, :taxon => @taxon %>
            <% end %>
        <% end %>
    <% end %>

<% else %>

    <%= hook :homepage_products do %>
        <% unless @current_store.default? %>
            <div id="content">
              <%= render "shared/#{@current_store.code}/sidebar_left" %>
              <%= render "shared/#{@current_store.code}/banner" %>
            </div>
            <div id="content">
              <%= render "shared/#{@current_store.code}/products", :products => @products, :taxon => @taxon %>
            </div>
        <% else %>
            <%= render "shared/products", :products => @products, :taxon => @taxon %>
        <% end %>

    <% end %>


<% end %>

