<div class='toolbar'>
  <ul class='actions'>
    <li id='new_purchase_section'>


      <%= button_link_to "New Return Product", new_admin_purchase_return_product_url, :icon => 'add' %>

    </li>
  </ul>
  <br class='clear'/>
</div>

<%= render :partial => 'admin/shared/purchase_tabs', :locals => {:current => "Return Product"} %>

<h1><%= "#{t("actions.listing")} Return Products" %></h1>

<table class="index">
  <tr>
    <%= hook :admin_purchases_index_headers do %>
        <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
        <th><%= t("receive_product_number") %></th>

    <% end %>
    <th>
      <%= hook :admin_purchases_index_header_actions do %>
          <%#= t("action") %>
      <% end %>
    </th>
  </tr>
  <% @return_products.each do |return_product| %>
      <tr id="<%= dom_id return_product %>">
        <%- locals = {:return_product => return_product, :purchase => @purchase} %>
        <%= hook :admin_receive_products_index_rows, locals do %>
            <td><%= return_product.created_at.to_s(:date_time24) if return_product.created_at %></td>
            <td><%= link_to return_product.number, edit_admin_purchase_return_product_path(@purchase, return_product) %></td>
        <% end %>
        <td class="actions">
          <%= hook :admin_purchases_index_row_actions, locals do %>
              <%= link_to_with_icon 'edit', t('edit'), edit_admin_purchase_return_product_url(@purchase, return_product) %>
              <%#= link_to_delete purchase, :url => admin_purchase_receive_product_url(@purchase, receive_product) %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

