<h1><%= t(:order) + " #{@order.number}" %></h1>

<% content_for :sidebar do %>
    <div id="order_tab_summary">
      <h3 id="order_number"><%= "#{t(:order)} ##{@order.number} " %></h3>
      <h5 id="order_status"><%= "#{t(:status)}: #{t("order_state.#{@order.state}")}" %></h5>
      <h5 id="order_total"><%= "#{t(:total)}: #{number_to_currency(@order.total)}" %></h5>
      <% if @order.completed? %>

          <h5 id="shipment_status">
            <% if @shipment.nil? %>
                <%= "#{t(:shipment)}: #{t("shipment_states.#{@order.shipment_state}")}" %>
            <% else %>
                <%= "#{t(:shipment)}: #{t("shipment_states.#{@shipment.state}")}" %>
            <% end %>

          </h5>

          <h5 id="payment_status"><%= "#{t(:payment)}: #{t("payment_states.#{@order.payment_state}")}" %></h5>
      <% end %>
      <br class="clear"/>
    </div>
    <br class="clear"/>

    <ul class="sidebar">
      <%= hook :admin_order_tabs, {:current => current} do %>
          <li<%== ' class="active"' if current == "Shipments" %>>
            <%= link_to t("shipments"), @order.line_items.empty? || !@order.completed? ? "javascript:$('form').submit();" : admin_order_shipments_url(@order) %>
          </li>


      <% end %>
    </ul>

<% end %>
